<div class="container">
	<table class="table table-border">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Type</th>
				<th>Price</th>
				<th>Unit</th>
			</tr>
		</thead>
		<tbody ng-repeat="tmp in ctrl.services">
			<tr>
				<td ng-bind="tmp.id"></td>
				<td ng-bind="tmp.name"></td>
				<td ng-bind="tmp.type"></td>
				<td ng-bind="tmp.price"></td>
				<td ng-bind="tmp.unit"></td>
				
			</tr>
		</tbody>
	</table>
</div>

